---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Games">
  <h1 class="text-3xl font-bold my-6">Games</h1>
  <ul class="list-disc pl-5 space-y-2">
    <li><a href="/games/tetris/" class="text-blue-400 hover:underline">Tetris</a></li>
    <li><a href="/games/rock-paper-scissors/" class="text-blue-400 hover:underline">Rock Paper Scissors</a></li>
  </ul>
</Layout>
