---
import "../styles/global.css";
import OnekoToggle from "../components/OnekoToggle.astro";
import ThemeBar from "../components/ThemeBar.astro";
import { NAV_LINKS } from "../config";
const { title = 'KoriKosmos', isWide = false } = Astro.props
---

<html lang="en" data-theme="dark">
<head>
	<meta charset="UTF-8" />
	<title>{title}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body class="font-sans bg-base text-base min-h-screen flex flex-col">
<header class="p-4 border-b shrink-0">
	<nav class="flex gap-4">
		{
			NAV_LINKS.map(link => (
				<a href={link.href} class="hover:underline">{link.label}</a>
			))
		}
	</nav>
</header>

<main class={`${isWide ? 'max-w-7xl' : 'max-w-3xl'} mx-auto px-4 flex-grow flex flex-col justify-center w-full pb-32`}>
	<slot />
</main>

<footer class="text-center text-sm text-gray-500 p-6 shrink-0">
        © {new Date().getFullYear()} Maan – KoriKosmos
</footer>
<OnekoToggle />
<ThemeBar />
</body>
</html>
